<div class="card-record ">
  <%= image_tag('vinyl2.jpg', alt: "Vinyl")%>
  <div class="card-info">
    <div>
      <h2>
       <%= record.title %>
      </h2>
      <p>Description of the record</p>
    </div>
    <h2 class="card-record-price">$ 2.00</h2>
  </div>
</div>