.button-container {
  padding-top: 7px;
  display: flex; justify-content: space-between;
  gap: 20px;
  margin: 10px 10px;
}

#electronic-icon{
  align-self: center;
}

.genre-button {
  display: table-row;
  text-decoration: none;
  width: fit-content;
  padding-top: 20px;
  padding-bottom: 5px;
  color: black;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

  a {
    text-decoration: none;
    color: black;
}

  .genre-button:hover {
    transform: scale(1.3);
    color: grey;
  }

  .cards-container {
    padding: 40px 40px 0;
    padding-left: 100px;
    border: 1px darkgrey;
    border-bottom: none;
    border-radius: 5px;
    background: white;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px rgba(0,0,0,0);
    // align-items: center;
    // justify-content: space-between;
    //font-size: 22px;
    color: black;
  }


.card-record {
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width:250px;
}

.card-record > img {
  height: 250px;
  width: 250px;
  // padding-top: 5px;
  object-fit: contain;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  background-color: black;
}

.card-record h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-record p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.card-record .card-info {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-decoration: none;
}

.card-record .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:none;
  color: black;
}

.container {
  font-family: 'Noto Sans', sans-serif;
}
