.genre-button {
  display: table-row;
  text-decoration: none;
  width: fit-content;
  text-align: center;
  text-justify: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  color: black;
  font-weight: bold;
  transition: opacity 0.3s ease;
}

.genre-button:hover {
  opacity: 1;
}

.button-container {
  display: flex; justify-content: space-between;
  gap: 10px;
  margin: 10px 10px;
}

.card-record {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-record > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.card-record h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-record p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-record .card-info {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-record .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}