// Import page-specific CSS files here.

.vinyl-content {
  display: flex;
}

.vinyl-details {
  padding: 20px;
  padding-left: 100px;

}

.reviews-show {
  padding-top: 0px;
  padding-right: 100px;
}

.record-img {
  width: 60%;
}

#avatar-show {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
