.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px auto;
  width: 90%;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.header {
  text-align: center;
  margin: 40px;
}


#reservaation-ul ul {
  padding-left: 0;
}

.button {
 margin-left: 5%;
 margin-top: 20px;
 padding: 1px;
 border: rgb(206, 134, 89) solid;
 width: 8%;
 text-align: center;
 border-radius: 3px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:none;
  color: black;
}

