button {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

#name {
  font-weight: 800;
}

.reviews-show {
  padding: 20px;
}

.vinyl-details {
  padding-left: 70px !important;
  font-family: 'Noto Sans', sans-serif;
}

.vinyls-show {
  padding-right: 40px !important;
}

.links-show {
  padding-top: 8px !important;
}
