<div class="footer">
  <div class="footer-links">
    <a class="github" href="#"><i class="fab fa-github"></i></a>
    <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
    <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
    <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by Fireflies
  </div>
</div>
