<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-6'>
<h1> Add a record </h1>
<h4>let the record spin...</h4>
  <%= render "form", record: @record %>
  <br>
<%= link_to "back", root_path, class: "btn btn-outline-secondary rounded-pill" %>
</div>
</div>
</div>
<%= link_to "All vinyls", root_path%>
