<div class="container">
  <div class="row">
      <div class="button-container">
        <div class="genre-button">
        <a href="#">
          <img src="assets/guitar.png" style="height: 45px;">
          <div> ROCK </div>
        </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <img src="assets/trumpet.png" style="height: 45px;">
            <div> JAZZ </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <img id="electronic-icon", src="assets/icons8-record-player-80 (1).png" style="height: 45px;">
            <div> ELECTRO </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <img src="assets/listen.png" style="height: 45px;">
            <div> POP </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <img src="assets/music.png" style="height: 45px;">
            <div> HIPHOP </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <img src="assets/drum.png" style="height: 45px;">
            <div> FUNK </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <img src="assets/piano.png" style="height: 45px;">
            <div> SOUL </div>
          </a>
        </div>

        <div class="genre-button">
          <a href="#">
            <img src="assets/disco-ball.png" style="height: 45px;">
            <div> DISCO </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cards-container">
    <div class="row">
      <% @records.each do |record| %>
        <div class="col-sm-12 col-md-3 p-1 mt-4 my-4">
          <%= render "components/card", record: record %>
        </div>

      <% end %>
    </div>
  </div>


  <div class="cards-container">
<!--    <div class="card-record">-->
      <%#= image_tag('vinyl2.jpg', alt: "Vinyl")%>
<!--      <div class="card-info">-->
<!--        <div>-->
<!--          <h2>Record Title</h2>-->
<!--          <p>Description of the record</p>-->
<!--        </div>-->
<!--        <h2 class="card-record-price">$ 2.00</h2>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card-record">-->
      <%#= image_tag('vinyl3.jpg', alt: "Vinyl")%>
<!--      <div class="card-info">-->
<!--        <div>-->
<!--          <h2>Record Title</h2>-->
<!--          <p>Description of the record</p>-->
<!--        </div>-->
<!--        <h2 class="card-record-price">$ 2.00</h2>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card-record">-->
      <%#= image_tag('vinyl4.jpeg', alt: "Vinyl")%>
<!--      <div class="card-info">-->
<!--        <div>-->
<!--          <h2>Record Title</h2>-->
<!--          <p>Description of the record</p>-->
<!--        </div>-->
<!--        <h2 class="card-record-price">$ 2.00</h2>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card-record">-->
      <%#= image_tag('vinyl5.jpeg', alt: "Vinyl")%>
<!--      <div class="card-info">-->
<!--        <div>-->
<!--          <h2>Record Title</h2>-->
<!--          <p>Description of the record</p>-->
<!--        </div>-->
<!--        <h2 class="card-record-price">$ 2.00</h2>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card-record">-->
      <%#= image_tag('vinyl6.jpg', alt: "Vinyl")%>
<!--      <div class="card-info">-->
<!--        <div>-->
<!--          <h2>Record Title</h2>-->
<!--          <p>Description of the record</p>-->
<!--        </div>-->
<!--        <h2 class="card-record-price">$ 2.00</h2>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="card-record">-->
      <%#= image_tag('vinyl7.jpeg', alt: "Vinyl")%>
<!--      <div class="card-info">-->
<!--        <div>-->
<!--          <h2>Record Title</h2>-->
<!--          <p>Description of the record</p>-->
<!--        </div>-->
<!--        <h2 class="card-record-price">$ 2.00</h2>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
