<h1>My reservations</h1>

<ul>
  <% current_user.reservations.each do |reservation| %>
    <li>start date:<%= reservation.start_date%> <br>
        end date:<%= reservation.end_date%><br>
        album:<%= reservation.record.title%> </li>
        total amount to pay:<%=(reservation.end_date - reservation.start_date).to_i * reservation.record.price %> $
  <% end %>
</ul>
