<h1>My reservations</h1>

<ul>
  <% current_user.reservations.each do |reservation| %>
    <li>start date:<%= reservation.start_date%> <br>
        end date:<%= reservation.end_date%><br>
        album:<%= reservation.record.title%> </li>
        total price:<%=reservation.end_date - reservation.start_date %>
  <% end %>
</ul>
