.cards {
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 350px;
  height: 150px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: black;
}
